/*--------------------------------------------------------------------------------------------------------------------------------------*/
/* General */
/*--------------------------------------------------------------------------------------------------------------------------------------*/

.container-fluid.no_padding {
  padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
/* Timer */
/*--------------------------------------------------------------------------------------------------------------------------------------*/

.timer {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 9999;
}

.grayText {
  color: #7D7D7D;
}

.whiteText {
  color: #FFF;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
/* Timer Progress */
/*--------------------------------------------------------------------------------------------------------------------------------------*/

.loading-page{
  background-color: #FFF;
  height: 100%;
  width: 100%;
  position: fixed;
}

.pomLoader{
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: fixed;
  animation: load 5s linear;
}

.breakLoader{
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: fixed;
  animation: load 2s linear;
}

.thirtyMinuteBreakLoader{
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: fixed;
  animation: load 1800s linear;
}

.countdown{
  position: fixed;
  padding-top: 30%;
  padding-left:50%;
  z-index: 999;
}

@keyframes load{
  0%{ width:0%;}
  100%{ width:100%;}
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
/* Loader Bg's */
/*--------------------------------------------------------------------------------------------------------------------------------------*/

.grayBg {
  background-color: #7D7D7D;
}

.greenBg {
  background-color: #65C476;
}

.redBg {
  background-color: #FB9088;
}