<h3 class="backBtn">
  <a ui-sref="home"><i class="ion-ios-arrow-thin-left"></i> Back</a>
</h3>

<div class="timerTitle registerTimerTitle">
  <span class="line-1">the</span>
  <span class="line-2">pomodoro</span>
  <span class="line-3">timer experiment</span>
</div>

<div class="registrationWrapper">
  <h1>Log In</h1>

  <div ng-show="error">
    <span>{{error.message}}</span>
  </div>

  <form ng-submit="login()">
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email" ng-model="email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="password">
    </div>
    <div class="btnContainer loginBtnContainer">
      <section>
        <p>
          <button type="submit" class="btn btn-1 btn-1d">Sign In</button>
        </p>
      </section>
    </div>
  </form>
</div>